.content.clearfix
  %div{:role => "main"}
    .container.clearfix
      %section#profile
        = render "sections/profile.markdown"
      %section#skills
        = render "sections/skills.markdown"
      %section#experience
        = render "sections/experience.markdown"
    .container.clearfix
      %section#portfolio
        = render "sections/portfolio.markdown"
      %section#interests
        = render "sections/interests.markdown"
      %section#contact.vcard
        = render "sections/contact.html.haml"
  %div{:role => "complementary"}
