<main role="main" class="main-content container">
  <section id="profile">
    <%= partial "sections/_profile.markdown" %>
  </section>
  <section id="contact" class="vcard">
    <%= partial "sections/_contact.html.erb" %>
  </section>
  <section id="skills">
    <%= partial "sections/_skills.markdown" %>
  </section>
  <section id="experience">
    <%= partial "sections/_experience.markdown" %>
  </section>
  <section id="interests">
    <%= partial "sections/_interests.markdown" %>
  </section>
</main>
