<div class="content clearfix">
  <div role="main">
    <div class="container clearfix">
      <section id="profile">
        <%= partial "sections/_profile.markdown" %>
      </section>
      <section id="skills">
        <%= partial "sections/_skills.markdown" %>
      </section>
      <section id="experience">
        <%= partial "sections/_experience.markdown" %>
      </section>
    </div>
    <div class="container clearfix">
      <section id="portfolio">
        <%= partial "sections/_portfolio.markdown" %>
      </section>
      <section id="interests">
        <%= partial "sections/_interests.markdown" %>
      </section>
      <section class="vcard" id="contact">
        <%= partial "sections/_contact.html.erb" %>
      </section>
    </div>
  </div>
  <div role="complementary"></div>
</div>
